H1{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    padding: 22px;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
}

h2{
    font-family: 'Roboto', sans-serif;
}

#texto{
    padding: 102px;
    font-size: 19.3px;
    text-align: justify;
    color: white;
    background-color: #8B3A3A;
    border-bottom: 3px solid black;
    font-family: 'Quicksand', sans-serif;
}

.parallax { 
    background-image: url("../Imagens/nFmVNr.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 3px solid black;
  } 

.parallax2 { 
    background-image: url("../Imagens/dashboard.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 3px solid black;
  }

.parallax3 { 
    background-image: url("../Imagens/unibrasil.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-bottom: 3px solid black;
  }

.conteudo{
    position: absolute;
    padding: 22px;
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    width: 60%;
    font-size: 20px;
    margin-top: 14%;
    margin-left: 20%;
    font-family: 'Quicksand', sans-serif;
}

.rodape{
    color: white;
    padding:30px 50px;
    height: 90px;
    font-size: 18px;
    background-color: #1f3851;
}
