@charset "UTF-8";

#container {
  text-align: center;
  margin-top: 10%;
}

#container > div {
	height: 300px; 
	width: 30%;
	background: red;
}

/*Esquerda*/
#chartContainer { 
	float: left;
}

/*Centro*/
#pizza{
	display: inline-block;
	margin: 0 auto;
}

/*Esquerda*/
#barraH { 
	float: right;
}